{% extends 'Base/base.html' %}

{% block title %}
    <h1> Index</h1>
{% endblock %}

{% block content %}
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {% for item in items %}
            
    <div class=" col text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <a href="{% url 'item:detail' item.id %}">
      <div class="my-3 py-3">
        <h2 class="display-5">{{ item.name }}</h2>
        <p class="lead">{{ item.description }}</p>
        <p class="lead">${{ item.price }}</p>
          {% if item.is_sold  %}
          	<p class="lead">Out of Stock</p>
              {% else %}
          	<p class="lead">In Stock</p>
          {% endif %} 
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="{{ item.image.url }}" alt="no image found" width="100%" height="300" style = "border-radius: 21px 21px 0 0;" >
      </div>
    </a>
    </div>
        
    {% endfor %}
  </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {% for category in categories %}
            
    <div class="col text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">{{ category.name }}</h2>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
